.btn{
	margin-top: 20px;
	width: 400px;
	text-align: center;

} 

.Correo{
	margin-top: 20px;
	width: 400px;
}

.container{
	margin-top: 100px;
	width: 450px;
	height: 300px;
}

.btn2{
	width: 400px;
	text-align: center;
	margin-left: 470px;
}


.crr{
	margin-top: 15px;
}





