header {
    background-color: #66D7D1;
    padding: 10px;
}

nav {
    background-color: #F4F188;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}

#lupa {
    width: 20px;
    height: 20px;
}

#logo {
    width: 100px;
    height: 60px;
}

.header_iconos {
    width: 40px;
    height: 40px;
}

#elementos_barra {
    background-color: #66D7D1;
}

#left-bar {
    /*Pantalla busqueda*/
    width: 300px;
    height: 200px;
}

#title-product {
    display: none;
}

#dropdown1 {
    display: none;
}

#dropdown11 {
    display: none;
}

@media(max-width: 500px) {
    #logo {
        width: 80px;
        height: 50px;
    }

    .header_iconos {
        width: 30px;
        height: 30px;
    }

    #left {
        display: none;
    }

    #left-bar {
        /*Pantalla busqueda*/
        display: none;
    }

    .fecha-carrito {
        /*Pantalla productos-carrito*/
        display: none;
    }


    #select-product {
        display: none;
    }

    #carrito {
        width: 70px;
        height: 70px;
    }

    #lacoste1 {
        width: 300px;
        height: 200px;
    }

    #title-product {
        display: inline;
    }

    #text-product2 {
        display: none;
    }

}

.boton {
    border: none;
    background-color: #F4F188;
}